[Unit]
Description=Change Wallpaper every 10 minutes
After=graphical-session.target
Requires=hyprpaper.service
After=hyprpaper.service

[Timer]
OnCalendar=*:0/10

[Install]
WantedBy=timers.target
