[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/wlsunset -g 0.75 -l 49.5 -L 8.4
Restart=on-failure
